In [18]:
import pandas as pd

df = pd.read_excel('example.xlsx')
df

       x    y  up  pred_y
0     20  310   1     190
1     20   70   1      70
2     20  190   0     310
3     20  430   0     550
4     20  670   0     550
..   ...  ...  ..     ...
133  530  580   1      70
134  530  340   1     310
135  560  130   1     550
136  560  130   0     550
137  560  370   0     310

[138 rows x 4 columns]

In [27]:
from sklearn.model_selection import train_test_split

X = df.drop(['pred_y'] , axis = 1)
y = df['pred_y']
# assume X is a dataframe with features and y is the target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# test_size is the proportion of the dataset to include in the test set
# random_state is the seed used by the random number generator for reproducibility

In [28]:
len(X_train)

110

In [29]:
len(X_test)

28

In [30]:
df.describe()

                x           y          up      pred_y
count  138.000000  138.000000  138.000000  138.000000
mean   276.304348  337.608696    0.492754  342.173913
std    160.150823  191.599317    0.501769  192.098436
min     20.000000   10.000000    0.000000   70.000000
25%    140.000000  190.000000    0.000000  190.000000
50%    260.000000  325.000000    0.000000  310.000000
75%    410.000000  490.000000    1.000000  550.000000
max    560.000000  670.000000    1.000000  670.000000

In [31]:
from sklearn.linear_model import LinearRegression
# fit a linear regression model on the train data
model = LinearRegression()
model.fit(X_train , y_train)

LinearRegression()

In [32]:
model.score(X_train , y_train)

0.44589465456580823

In [33]:
model.score(X_test , y_test)

0.5924651161865575

In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

# Create a Random Forest regression model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model to the training data
rf_model.fit(X_train, y_train)

# Use the model to make predictions on the test data
y_pred = rf_model.predict(X_test)

# Calculate the R-squared score on the test data
r2_score(y_test, y_pred)

0.9090426204238921

In [36]:
import pickle

# Save the model to a file
with open('model.pkl', 'wb') as f:
    pickle.dump(model, f)